#top-img {
    background: url(./images/airplane.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 2rem;
}

.opening-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1px;
    color: white;
    padding-top: 380px;
}

#article-section {
    background-color: black;
}

#map {
    min-height: 360px;
}

.article-title {
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.article-section {
    padding: 0px 0px;
}

#personal-package {
    background-color: #e8d1dc;
}
