#top-img {
    background: url(./images/airplane.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 2rem;
}

.opening-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1px;
    color: white;
}

#article-section {
    background-color: black;
}

#map {
    min-height: 360px;
}

.article-title {
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.article-section {
    padding: 0px 0px;
}

#personal-package {
    background-color: #e8d1dc;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 !important;
}

table {
    font-size: 12px;
}

.hotel-search {
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    width: 440px;
    z-index: 1;
}

#listing {
    position: inherit;
    width: 400px;
    height: 100px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

